<mat-card *ngFor="let security of securities" (click)="goToDetailPage(security.symbol)">
    <mat-card-header>
        <mat-card-title>{{security.name}}</mat-card-title>
        <mat-card-subtitle>{{security.symbol}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- Выведите другие свойства вашего объекта SecuritiesGetDTO -->
        <p>{{ security.price }}</p>
        <p>{{ security.actualPrice }}</p>
        <p>{{ security.totalPrice }}</p>
        <p>{{ security.currency }}</p>
        <p>{{ security.priceChange }}</p>
        <p>{{ security.quantity }}</p>
        <!-- ... -->
    </mat-card-content>
</mat-card>
