<mat-card class="wallet">
    <mat-card-header>
        <h2>Wallet</h2>
        <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select [formControl]="currencies">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let topping of currenciesList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-header>

    <mat-card-content>
        <div *ngIf="walletInfo">
            <p>{{walletInfo.actualPrice}}</p>
            <p>{{walletInfo.fullPrice}}</p>
            <p *ngIf="walletInfo.actualPrice != 0">{{walletInfo.priceChange.toFixed(3)}}</p>
            <p>{{walletInfo.totalSecurities}}</p>
        </div>
        <div>
            <canvas #myChart></canvas>
        </div>
    </mat-card-content>
</mat-card>

<table matSort (matSortChange)="sortData($event)">
    <tr>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="symbol">Symbol</th>
        <th mat-sort-header="price">Price</th>
        <th mat-sort-header="actualPrice">Actual Price</th>
        <th mat-sort-header="totalPrice">Total Price</th>
        <th mat-sort-header="currency">Currency</th>
        <th mat-sort-header="priceChange">Price change</th>
        <th mat-sort-header="quantity">quantity</th>
    </tr>
</table>
<mat-card *ngFor="let security of securities" >
    <mat-card-header (click)="goToDetailPage(security.symbol)">
        <mat-card-title>{{security.name}}</mat-card-title>
        <mat-card-subtitle>{{security.symbol}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- Выведите другие свойства вашего объекта SecuritiesGetDTO -->
        <p>{{ security.price }}</p>
        <p>{{ security.actualPrice }}</p>
        <p>{{ security.totalPrice.toFixed(2) }}</p>
        <p>{{ security.currency }}</p>
        <p>{{ security.priceChange.toFixed(3) }}</p>
        <p>{{ security.totalQuantity }}</p>
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="deleteSecurity(security.symbol)">
            <mat-icon>delete</mat-icon>
        </button>
        <!-- ... -->
    </mat-card-content>
</mat-card>
