.wallet {
 display: block;
}

mat-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

mat-card-content {
    display: flex;
    flex: 1;
}

mat-card-content p{
    margin: 0 20px;
}

img {
    height: 35px;
}
