mat-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*border-radius: 10px;*/
}

mat-card-content {
  display: flex;
  flex: 1;
}

mat-card-content p{
  margin: 0 20px;
}

img {
  height: 35px;
}

/* app-securities-search component */
app-securities-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* app-filter component */
app-filter {
  margin-bottom: 20px;
}

/* mat-list styles */
mat-list {
  width: 100%;
  max-width: 800px; /* Пример ширины, установите подходящее значение */
  margin: 0 auto;
}

/* mat-table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* mat-card styles */
mat-card {
  cursor: pointer;
  margin-bottom: 10px;
}

/* mat-paginator styles */
mat-paginator {
  width: 100%;
  max-width: 800px; /* Пример ширины, установите подходящее значение */
  margin: 0 auto;
}

app-securities-search {
  margin-top: 25px;
}
