<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>
<mat-list>
  <mat-list-item>
    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </mat-list-item>
  <mat-list-item>
    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </mat-list-item>
  <mat-list-item>
    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </mat-list-item>
  <mat-list-item>
    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </mat-list-item>
  <mat-list-item>
    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </mat-list-item>
  <mat-list-item>
    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </mat-list-item>
</mat-list>
<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>
