mat-card {
  display: flex;
  flex-direction: row;
  /* Вы можете добавить другие стили по вашему усмотрению, например, отступы, цвет фона и т. д. */
}

mat-card-content {
  flex: 1; /* Растягивает содержимое, чтобы занимать все доступное пространство */
}
