<app-securities-search></app-securities-search>
<br>
<app-filter (formDataEvent)="handleFormData($event)"></app-filter>
<mat-list>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="symbol">Symbol</th>
      <th mat-sort-header="exchange">Exchange</th>
      <th mat-sort-header="type">Type</th>
      <th mat-sort-header="price">Price</th>
    </tr>
  </table>
    <mat-card *ngFor="let security of securities" (click)="goToDetailPage(security.symbol)">
      <mat-card-header>
        <mat-card-title>{{security.name}}</mat-card-title>
        <mat-card-subtitle>{{security.symbol}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- Выведите другие свойства вашего объекта SecuritiesGetDTO -->
        <p>{{ security.exchange }}</p>
        <p>{{ security.type }}</p>
        <p>{{ security.price }}</p>
        <!-- ... -->
      </mat-card-content>
    </mat-card>
</mat-list>
<mat-paginator #paginator
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [showFirstLastButtons]="showFirstLastButtons"
               [hidePageSize]="true"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>
