.example-spacer {
  flex: 1 1 auto;
}

/* Добавьте следующие стили в ваш стилевой файл */

/* Общие стили для mat-toolbar */
mat-toolbar {
  background-color: #2196F3; /* Цвет фона тулбара, замените на свой */
  color: #ffffff; /* Цвет текста, замените на свой */
}

/* Стили для span внутри mat-toolbar */
mat-toolbar span {
  cursor: pointer;
  margin-right: 20px; /* Расстояние между элементами, замените на свой */
  font-size: 18px; /* Размер шрифта, замените на свой */
}

/* Стили для кнопок внутри mat-toolbar */
mat-toolbar button {
  color: #ffffff; /* Цвет текста кнопок, замените на свой */
}

/* Стили для иконок внутри кнопок */
mat-toolbar button mat-icon {
  margin-right: 5px; /* Расстояние между иконкой и текстом, замените на свой */
}

/* Стили для разделителя между кнопками и пространства */
.example-spacer {
  flex: 1;
}

/* Стили для меню */
mat-menu {
  background-color: #ffffff; /* Цвет фона меню, замените на свой */
}

/* Стили для элементов внутри меню */
mat-menu-item {
  color: #000000; /* Цвет текста элементов меню, замените на свой */
  cursor: pointer;
}

/* Стили для иконок внутри элементов меню */
mat-menu-item mat-icon {
  margin-right: 5px; /* Расстояние между иконкой и текстом, замените на свой */
}
