<mat-toolbar>
  <span (click)="goToMainPage()">My Application</span>
  <span (click)="goToNews()">News</span>
  <span class="example-spacer"></span>
  <button (click)="goToLoginPage()" *ngIf="!authenticationService.isUserLoggedIn()">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button *ngIf="authenticationService.isUserLoggedIn()" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToProfilePage()">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="goToDividends()">
      <mat-icon>paid</mat-icon>
      <span>Dividends</span>
    </button>
    <button mat-menu-item (click)="goToWallet()">
      <mat-icon>wallet</mat-icon>
      <span>Wallet</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
